@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');


.strong {
  font-size: 2vw
 }

 #Capa_3{
   width: 2vw;
   margin-top: 0.5vw
 }
.prev {
  color: white;
  font-size: 2.2vw;
  width: 2vw

}


.container{
  background: silver ;
  height: 100%;
}


.area-info {
  display: flex;
  margin: 0 auto;
  height: 70%;
  width: 40%;
  background: white;
  border: 1rem solid silver;
  padding: 3rem;
}
.area-info-wrapper {
  width: 100%
}
.area-contact {
  margin: 3% auto;
  width: 80vw ;
  height: auto;
  background: white;
  padding: 0rem 0rem;
  box-sizing: border-box;

}
@media(max-width: 1200px){
  .area-contact {
    margin: 3% auto;
    width: 80vw ;
    height: 83vh;
    background: white;
    padding: 0rem 0rem;
    box-sizing: border-box;

  }
}


.area-title {
  text-align: center;
  font-family: 'STIX Two Text', serif;
  font-size: 4vw;
  color: white;
  text-align: center;

/*text-shadow:
   -0.1rem -0.1rem 0 #00c7e0,
    0.1rem -0.1rem 0 #00c7e0,
    -0.1rem 0.1rem 0 #00c7e0,
     0.1rem 0.1rem 0 #00c7e0;*/
}


.area-header {
  font-family: 'Share Tech', sans-serif;
  font-size: 2.5vw;
  color: gold;

}

.area-description {
  text-align: justify;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5vw;

}

.successStories {
  margin: 2rem auto;
  width: 95%;
  background: white;
  height: 45vh;
  padding: 1rem;
  box-sizing: border-box;
}

.storyGrid{
  margin: 0 auto;
  box-sizing: border-box;
  height: 90%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 50% 50%;
  column-gap: 2.8rem;
  row-gap: 1rem;
  overflow: scroll;
}

.storyContent{

  font-size: 1vw;
}

.bottomBoxC {
  height: 15vh;


  margin-bottom: 0rem;

}
@media (max-width:800px){
  .bottomBoxC {
    height: 8vh;
    margin-top: 0px;
  }
}
